
#name
{
    background-color: rgb(187, 192, 199);
}
#pass
{
    background-color: rgb(196, 205, 206);
}
#intrest
{
    color: aquamarine;
}
p.new1
{
    color: rgb(149, 71, 232);
} 
h3
{
    text-align: center;
}
a
{
    text-decoration: none;
}
p{
    text-align: center;
    color: rgb(19, 128, 224);
    font-weight: bold;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: green wavy underline; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-indent: 90px;
    /* letter-spacing: 3px; */
    line-height:15px;
    text-indent: 34px;
}
.div1
{
    padding-left: 80px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-top: 50px;
    background-color: rgb(183 ,220,220);
    color: aqua;
}
