
#name
{
    background-color: rgb(187, 192, 199);
}
#pass
{
    background-color: rgb(196, 205, 206);
}
#intrest
{
    color: aquamarine;
}
p.new1
{
    color: rgb(149, 71, 232);
} 
h3
{
    text-align: center;
}
a
{
    text-decoration: none;
}
