/* Akhand Pratap Singh*/
/* 2400320100124 */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #fff;
}

table {
  width: 850px;
  border-collapse: collapse;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px solid #b87a3a;
}


thead tr:first-child td {
  background-color: #f7cba3;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #b87a3a;
  padding: 10px;
  text-align: center;
  color: #4b2c06;
}


thead tr:last-child td {
  background-color: #fae1c6;
  border: 1px solid #b87a3a;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  color: #4b2c06;
}

/* Left column with departments */
tbody td:first-child {
  border: 1px solid #b87a3a;
  padding: 8px 12px;
  font-weight: normal;
  color: #4b2c06;
  vertical-align: top;
}

/* Right column with description */
tbody td:last-child {
  border: 1px solid #b87a3a;
  padding: 15px 20px;
  font-size: 16px;
  color: #4b2c06;
  text-align: center;
  vertical-align: middle;
  height: 120px;
}
tbody a{
  text-decoration: none;
}
#img1{
    width: 100px;
    height: 100px;
}
#b1{
    background-color: rgb(255, 140, 26);
    border-radius: 25px;
    color: rgb(40, 15, 98);
    width: 200px;
    font-size: 20px;
    margin: 50px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-right: 10px;
}
    






